body {
    background-color: rgb(248, 228, 173);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

.title {
    text-align: center;
}
#addTask {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 56%;
    display: flex;
    gap: 3%;
    border-radius: 3px
}

#task {
   flex: 12;
   border: none;
}
ul {
    /* background-color: yellow; */
    width: 56%;
    margin: auto;
    padding: 0;
    display: flexbox;
    flex-direction: column;
    gap: 10%;
    
}

ul li {
    list-style: none;
    margin-bottom: 17px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 3px
}

.savedTextarea {
    border: none;
    width: 100%
}
.taskCompletion {
    text-decoration: line-through;
    font: grey

}
.savedTask {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    width: 80%
}

.manageTodo {
    position: fixed;
    background-color: white;
}

.strike {
    display: inline-block

}

.delete {
    display: inline-block

}
